<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Agregar usuarios</h1>
    <form  action="/add_user/225"  method="post" >
        

            <input type="text" id="name_user" name="name_user" required>
            <input type="text" id="number_user" name="number_user" required>
            <input type="date" id="dateToend" name="dateToend" required>
            <input type="text" id="placa" name="placa" required>

            <button type="submit">send</button>
        




    </form>
    
</body>
</html>