<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styless/styless.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js">
        </script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script>

    <title>Cotizar</title>
</head>
<body>
<div class="container">
    <h1 >Cotizacion en linea</h1>

    <form action="/cotizar" method="post" id="cotizar_form">
       <div id="info_user">
       <div> <label for="">Nombre</label>
        <input type="text" id="name_cot" name="name_cot" required></div>
        <div><label for="">Cedula/nit</label>
          <input type="text" id="doc_user_cot" name="doc_user_cot" required></div>
        <div><label for="">Telefono</label>
          <input type="text" id="cel_user_cot" name="cel_user_cot" required></div>
       <div> <label for="">Direccion</label>
        <input type="text" id="aderess_user_cot" name="aderess_user_cot" required></div>
       </div>
     

<div class="buscador">
    <h3>Buscador</h3>
    <input type="text" id="input_buscar" list="options1"> 
  

<ul id="box-search">

 
 
  
</ul>

</div>

<div id="extra_item">
  <div> <label for="">Item</label>
    <input type="text" id="item_extra" name="item_extra" required></div>
  
   <div> <label for="">Cantidad</label>
    <input type="text" id="cant_item_extra" name="cant_item_extra" required></div>
 
   <div> <label for="">Valor Unit</label>
    <input type="text" id="val_item_extra" name="val_item_extra" required></div>
   
   <button id="add_extra">Agregar</button>
  
</div>
   


<style>

  #extra_item{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    justify-content: center;
   gap: 5px;
   border: 1px solid rgb(137, 136, 136);
   padding: 15px;
  }
</style>
<script>


    var products=[{ 
      
      cod:"1234",
      nombre:"MANO DE OBRA X PUNTO",
      cantidad:"15",
      valor:"40000"
  },{
      
      cod:"5589",
      nombre:"MATERIALES X PUNTO",
      cantidad:"15",
      valor:"50000"
  },{
      
        cod:"25345",
        nombre:"camara domo_5mp, lente 2.8mm",
        cantidad:"15",
        valor:"84600"
    },{
      
      cod:"25345",
      nombre:"CAMARA DAHUA DOMO 5MP MOTORIZADA",
      cantidad:"15",
      valor:"221000"
  },{
        cod:"25346",
        nombre:"XVR 4CH/2CH IP/GRABACION HASTA 5mp 1 HDMI 1 E/SRCA 1 SATA H264O",
        cantidad:"15",
        valor:"294000"
    },
    {
        cod:"25346",
        nombre:"XVR 8CH/2CH IP/GRABACION HASTA 5mp 1 HDMI 1 E/SRCA 1 SATA H264O",
        cantidad:"15",
        valor:"397000"
    },
    {
      cod:"25346",
      nombre:"Disco duro de 1Tb, 256Mb de cache",
      cantidad:"15",
      valor:"293000"
  }
    ]

    pintarProd(products)

    function pintarProd(prods){
  var length= prods.length;
 
  for(let i=0; i< length; i++){
    var listop=document.getElementById("box-search")
    var buscar_btn=document.getElementById("input_buscar")
  var li_options1= document.createElement("li");
  var a_options1= document.createElement("a");
////llenando li de busqueda
  a_options1.innerHTML=prods[i].nombre;
  li_options1.appendChild(a_options1)
  listop.appendChild(li_options1)

 
    
  }
}
    var buscarbtn=document.querySelector("#buscar_prod");
  var inputfind=document.querySelector("#input_buscar");
  var box_serach=document.querySelector("#box-search");

  function buscador_interno(){
  var filtro=inputfind.value.toUpperCase();
  
    var li= box_serach.getElementsByTagName("li");

    for (let i = 0; i < li.length; i++) {
      var a=li[i].getElementsByTagName("a")[0];
      textvalue=a.textContent || a.innerText;
      
     if(textvalue.toUpperCase().indexOf(filtro)>-1){
       li[i].style.display=""
       a.onclick=function(){
       
        inputfind.value=li[i].innerText;
        box_serach.style.display="none"
        addList(i)
        inputfind.value=""

       }
      box_serach.style.display="block"

      if(filtro===""){
        box_serach.style.display="none"
      }
     }else{
      li[i].style.display="none"
     }
      
    }
  }

  inputfind.addEventListener("keyup", buscador_interno) ;

function addList(pos,itemEx,cant,value){
 
  var tr= document.createElement("tr");

  var  th_total=document.querySelector("#th_total");

 
      var td_item=document.createElement("td");
  var td_name=document.createElement("td");
  var td_cant=document.createElement("td");
  td_cant.innerHTML="1"
  td_cant.setAttribute("contenteditable",true)
  td_cant.setAttribute("type","number")
  var td_valorUnit=document.createElement("td");
  var td_valorTot=document.createElement("td");
  var td_opt=document.createElement("td");
  var input_catn=document.createElement("input");
  var delete_prod=document.createElement("a");
  delete_prod.style="cursor:pointer; color:red;"
  delete_prod.innerHTML="X"
  var body_prods=document.querySelector("#body_datesProd");
  if(itemEx){
    
    var total_cot=th_total.innerHTML;
    td_item.innerHTML="0000",
    td_name.innerHTML=itemEx;
    td_cant.innerHTML=cant;
    td_valorUnit.innerHTML=(parseFloat(value)/1000).toFixed(3)
    var val_tot=parseInt(value)*parseInt(cant)
    td_valorTot.innerHTML=(parseFloat(val_tot)/1000).toFixed(3)
    var totInt=parseInt(total_cot)+parseInt(val_tot)
    th_total.innerHTML=  (parseFloat(totInt)/1000).toFixed(3)
   
  }else{
   
  
    td_item.innerHTML=products[pos].cod,
    td_name.innerHTML=products[pos].nombre;
  
    
    
   // td_cant.appendChild(input_catn);

    var total_cot=th_total.innerHTML;
    if(total_cot==="NaN"){
     
    }else{
      
      var tot_int=parseFloat(total_cot)*1000
    console.log(tot_int*1000)
      th_total.innerHTML=  ((parseInt(products[pos].valor)+tot_int)/1000).toFixed(3)
    }
   
    td_cant.addEventListener("keyup", function(){
      
      if(this.innerHTML=="<br>"){
        this.innerHTML=0
        console.log(this.innerHTML)
      }else{
        var valor_act=td_valorTot.innerHTML;
      
      var total_cot=th_total.innerHTML;
        var total=parseFloat( this.innerHTML)*parseFloat(products[pos].valor);
        td_valorTot.innerHTML=(parseFloat(total)/1000).toFixed(3)
       
        th_total.innerHTML= (parseInt(total_cot)-parseInt(valor_act))+total
      }
      
    })
    td_valorUnit.innerHTML=(parseFloat(products[pos].valor)/1000).toFixed(3);
    td_valorTot.innerHTML=(parseFloat(products[pos].valor)/1000).toFixed(3);

   
  }
  dlt_prod()
  function dlt_prod(){
    delete_prod.onclick=function(event){
      var total_cot=th_total.innerHTML;
      event.preventDefault();
      var valor_act=td_valorTot.innerHTML;
      th_total.innerHTML= (parseInt(total_cot)-parseInt(valor_act))
      
      this.closest('tr').remove();

    }

   
   

  }
    
  td_opt.appendChild(delete_prod)
  tr.appendChild(td_item);
  tr.appendChild(td_name);
  tr.appendChild(td_cant);
  tr.appendChild(td_valorUnit);
  tr.appendChild(td_valorTot);
  tr.appendChild(td_opt);
  body_prods.appendChild(tr)
  
  }

  var butt_extra=document.querySelector("#add_extra")
  var itemExtra=document.querySelector("#item_extra")
  var CantitemExtra=document.querySelector("#cant_item_extra")
  var ValitemExtra=document.querySelector("#val_item_extra")

  butt_extra.onclick=function(){

    addList("",itemExtra.value, CantitemExtra.value, ValitemExtra.value)
  

  }






</script>
       <div id="item_prod">
      

        <table id="prod_cot" >
            <thead>
              <tr>
                <th>Cod</th>
                <th>Item</th>
                <th>Cantidad</th>
                <th>Valor_Unit</th>
                <th>Valor_Total</th>
                 
                  
              </tr>
          </thead>
          <tbody id="body_datesProd">
                  
               
          </tbody>
          <tfoot>
           
            <th></th>
            <th></th>
            <th></th>
            <th id="total_cot">Total</th>
            <th id="th_total" >0</th>
          </tfoot>
        </table>
       <div id="opc_cot">

        <button id="imprimir">Imprimir</button>
       <button id="pdf">PDF</button>
       </div>
    </form>
    
    <script>
var name_cot= document.querySelector("#name_cot")


document. querySelector("#pdf").onclick=function(){

generarPFD(submitForm(),name_cot.value)

}

function submitForm() {
  
    // Get table data and create an array of objects
   var table = document.getElementById('prod_cot');
    var data = [];
    
    for (var i = 1; i < table.rows.length; i++) {
        var rowData = {
            cod: table.rows[i].cells[0].innerText,
            name: table.rows[i].cells[1].innerText,
            cant: table.rows[i].cells[2].innerText,
            val_unit: table.rows[i].cells[3].innerText,
            val_tot:table.rows[i].cells[4].innerText,   
        };
        data.push(rowData);
    }

    // Convert data to JSON
   /* var jsonData = JSON.stringify(data);

    // Create a hidden input field to hold the JSON data
    var hiddenInput = document.createElement('input');
    hiddenInput.type = 'hidden';
    hiddenInput.name = 'jsonData';
    hiddenInput.value = jsonData;

    // Append the hidden input to the form
    document.getElementById('cotizar_form').appendChild(hiddenInput);

    // Submit the form
    document.getElementById('cotizar_form').submit();*/
//////plantilla cotizacion
var fondo=document.createElement("img")
fondo.id="fondo";
fondo.setAttribute("src","img/lognexo1.png")
var name_cot= document.querySelector("#name_cot")
var doc_user_cot= document.querySelector("#doc_user_cot")
var cel_user_cot= document.querySelector("#cel_user_cot")
var address_user_cot= document.querySelector("#aderess_user_cot")
var plantilla= document.createElement("div")

var date= new Date();
date.toLocaleString('default', { month: 'long' })
var header= document.createElement("div")
header.id="header_plantilla"
plantilla.style.width="50%;  "


var info_empresa= document.createElement("div");
info_empresa.id="div_info_empresa"
var p_info_empresa= document.createElement("p")
p_info_empresa.innerHTML="Nexo Security<br> Nit.1061813933 Reg. Simp.  <br>Tel: 3006846977-3147459094 "
var data_trans= document.createElement("div")
data_trans.id="div_data_trans"
var transaccion= document.createElement("p")
var fecha_transac= document.createElement("p")
var numero_transac= document.createElement("p")
transaccion.innerHTML="Cta_cobro"
numero_transac.innerHTML="CO"+" "+date.getFullYear()+date.getDate()+(date.getMonth()+1)+date.getHours()+date.getMinutes()
var hoy= date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()
fecha_transac.innerHTML=hoy

data_trans.appendChild(transaccion);
data_trans.appendChild(numero_transac)
data_trans.appendChild(fecha_transac)
info_empresa.appendChild(p_info_empresa)





var logo=document.createElement("img")
logo.style=" width:90px; height:70px;  position:relative; top:0;"
logo.setAttribute("src","img/lognexo1.png")

var infoUser= document.createElement("div");
infoUser.id="infoUser_plant"
var nameUser= document.createElement("p");
nameUser.innerHTML="<b>Nombre:</b>"+" "+name_cot.value;
var numberUser= document.createElement("p");
numberUser.innerHTML="<b>Telefono:</b>"+"  " + cel_user_cot.value;
var docUser= document.createElement("p");
docUser.innerHTML="<b>Documento:</b>"+" "  +doc_user_cot.value
var addressUser= document.createElement("p");
addressUser.innerHTML="<b>Direccion:</b>"+"  "+ address_user_cot.value
infoUser.appendChild(nameUser)
infoUser.appendChild(docUser)
infoUser.appendChild(numberUser)
infoUser.appendChild(addressUser)



var div_table= document.createElement("div");
div_table.id="div_table_plant"
var table= document.createElement("table");
var thead= document.createElement("thead");


var tr= document.createElement("tr");
var th_cod= document.createElement("th");
th_cod.innerHTML="Cod"
var th_name= document.createElement("th");
th_name.innerHTML="Item"
var th_cant= document.createElement("th");
th_cant.innerHTML="Cantidad"
var th_vUnit= document.createElement("th");
th_vUnit.innerHTML="Valor/Unit"
var th_vTot= document.createElement("th");
th_vTot.innerHTML="Valor/Tot"

tr.appendChild(th_cod)
tr.appendChild(th_name)
tr.appendChild(th_cant)
tr.appendChild(th_vUnit)
tr.appendChild(th_vTot)
thead.appendChild(tr)
table.appendChild(thead)

var tbody= document.createElement("tbody");
var trBody= document.createElement("tr");

   



data.forEach(data => {


  const $tr = document.createElement("tr");
  let $tdCod = document.createElement("td");
    $tdCod.textContent = data.cod; // el textContent del td es el nombre
    $tr.appendChild($tdCod);

  
    let $tdNombre = document.createElement("td");
    $tdNombre.textContent = data.name; // el textContent del td es el nombre
    $tr.appendChild($tdNombre);

    let $tdCant = document.createElement("td");
    $tdCant.textContent = data.cant; // el textContent del td es el nombre
    $tr.appendChild($tdCant);
    let $tdValorUnit = document.createElement("td");
    $tdValorUnit.textContent = data.val_unit; // el textContent del td es el nombre
    $tr.appendChild($tdValorUnit);

    let $tdValorTot = document.createElement("td");
    
    $tdValorTot.textContent = data.val_tot; // el textContent del td es el nombre
    $tdValorTot.style="font-weight: bolder;"
    $tr.appendChild($tdValorTot);

    tbody.appendChild($tr)
})
    

   
   

table.appendChild(tbody)
div_table.appendChild(table)
var nota=document.createElement("p")
nota.id="nota_cot"


       
var footer=document.createElement("div")
footer.id="footer_plant"
var Pfooter=document.createElement("p")
Pfooter.innerHTML=" <br>Tel: 300 684 6977 - 3147459094 <br>nexodirect2025@gmail.com <br> Popayán - Colombia"
footer.appendChild(Pfooter)
header.appendChild(logo)
plantilla.appendChild(fondo)
header.appendChild(info_empresa)
header.appendChild(data_trans)
plantilla.appendChild(header)
plantilla.appendChild(infoUser)
plantilla.appendChild(div_table)
plantilla.appendChild(nota)
plantilla.appendChild(footer)


return plantilla
}
document. querySelector("#imprimir").onclick=function(){

  imprimirElemento(submitForm(),name_cot.value)
}
function imprimirElemento(elemento, name_cot) {

 /*var ventana = window.open('', 'PRINT', 'height=800,width=900');
  ventana.document.write('<html><head><title>' + "COT"+"-"+name_cot.value + '</title>');
  ventana.document.write('<link rel="stylesheet" href="/styless/styless.css">'); //Cargamos otra hoja, no la normal
  ventana.document.write('</head><body >');
  ventana.document.write(elemento.innerHTML);
 
  ventana.document.close();
  ventana.focus();
  ventana.onload = function() {
    ventana.print();
    ventana.close();
  };
  return true;*/
  document.title="transacciones"
  var contenidoOriginal= document.body.innerHTML;
  document.body.style.width="725px"
  document.body.style.height="900px"
  document.body.innerHTML = elemento.innerHTML;
 
  setTimeout(function(){
    window.print(document);
 }, 100);

  
}

function generarPFD(elemento, name_cot){
  var contenidoOriginal= document.body.innerHTML;
  document.body.style.width="600px"
  document.body.style.height="800px"

  var plantilla1=document.createElement("div")
  plantilla1.appendChild(elemento)
  document.body.innerHTML =plantilla1.innerHTML


html2canvas(document.body, {
    allowTaint: false,
    width: 800, height: 800
  }) // Llamar a html2canvas y pasarle el elemento
    .then(canvas => {
           
      var img=canvas.toDataURL("image/jpeg",1.0);
   var doc = new jsPDF('p', 'in', [8.9, 11]);
   doc.addImage(img,'JPEG',0.3,0.2);
   doc.save('Cta_cobro_'+name_cot+'_.pdf');
    });
    
    setTimeout(function(){
     location.reload()
  }, 1000);
}
    </script>

    <style>

      .container{
        width: 100%;
        
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        
      }
        #info_user{
          width: 80%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: auto;
          position: relative;
          justify-content: center;
         gap: 5px;
         border: 1px solid rgb(137, 136, 136);
         padding: 15px;
         
        }
        #info_user div{
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }


          .buscador{
            width: 80%;
            justify-content: center;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
           height: fit-content;
           padding: 15px;
            
          }
          .buscador h3{

            font-size: 13px;
          }
          
          

        
       
    </style>
</div>


  
</object>
</body>

</html>