<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styless/styless.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script>
    <title>Gestion en linea</title>
</head>
<body>
    <div class="container">
        <h1>Gestion en linea</h1>

     <select name="tipoDoc" id="tipoDoc">
  <option value="cotizacion">Cotización</option>
  <option value="cuenta_cobro">Cuenta de cobro</option>
</select>



<p id="resultado"></p>

        
        <form id="cotizar_form">
            <!-- Información del usuario -->
            <div id="info_user">
                <div><label for="name_cot">Nombre</label>
                    <input type="text" id="name_cot" name="name_cot" required>
                </div>
                <div><label for="doc_user_cot">Cédula/NIT</label>
                    <input type="text" id="doc_user_cot" name="doc_user_cot" required>
                </div>
                <div><label for="cel_user_cot">Teléfono</label>
                    <input type="text" id="cel_user_cot" name="cel_user_cot" required>
                </div>
                <div><label for="aderess_user_cot">Dirección</label>
                    <input type="text" id="aderess_user_cot" name="aderess_user_cot" required>
                </div>
            </div>

            <!-- Buscador de productos -->
            <div class="buscador">
                <h3>Buscador</h3>
                <input type="text" id="input_buscar" list="options1">
                <ul id="box-search"></ul>
            </div>

            <!-- Agregar productos -->
             <h5>Agregar item extra</h5>
            <div id="extra_item">
                
                <div><label for="item_extra">Item</label>
                    <input type="text" id="item_extra" name="item_extra" required>
                </div>
                <div><label for="cant_item_extra">Cantidad</label>
                    <input type="text" id="cant_item_extra" name="cant_item_extra" required>
                </div>
                <div><label for="val_item_extra">Valor Unit</label>
                    <input type="text" id="val_item_extra" name="val_item_extra" required>
                </div>
                <button type="button" id="add_extra">Agregar</button>
            </div>

            <!-- Tabla de productos seleccionados -->
            <table id="prod_cot">
                <thead>
                    <tr>
                        <th>Cod</th>
                        <th>Item</th>
                        <th>Cantidad</th>
                        <th>Valor Unit</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody id="body_datesProd"></tbody>
                <tfoot>
                    <tr>
                        <th colspan="4">Total:</th>
                        <th id="th_total">0.000</th>
                    </tr>
                </tfoot>
            </table>
            <div id="nota_cot">
                <label for="notaUser">Nota</label>
                <textarea name="notaUser" id="notaUser"></textarea>
              </div>
            <!-- Opciones -->
            <div id="opc_cot">
                <button type="button" id="pdf">Save</button>
            </div>
        </form>

      
       
         <section id="transacciones">


        <label for="name_search">ingrese nombre</label>
        <input  id="name_search" type="text">
        <button onclick=getDatabase()>buscar</button>

        <div id="viewer_transactions">




        </div>





      </section>
    <script src="app.js"></script>
    </div>
    <dialog id="modal" style="width: 600px;  height: 1000px; border:2px; position: absolute; ;"  >
     

        <button id="cerrar_modal" style="position: fixed; top:10px; right:0px; z-index:999" >close</button>
        <button id="pdf_modal" style="position: fixed; bottom:50%; right:20%; z-index:999" >PDF</button>
        <button id="imprimir" style="position: fixed; bottom:45%; right:20%; z-index:999">Imprimir</button>
      </dialog>

     
</body>
</html>
<script>
    // Productos disponibles
const products = [
{ cod: "1234", nombre: "MANO DE OBRA X PUNTO", cantidad: "15", valor: "40000" },
{ cod: "5589", nombre: "MATERIALES X PUNTO", cantidad: "15", valor: "50000" },
{ cod: "25345", nombre: "CAMARA DOMO_5MP", cantidad: "15", valor: "84600" },
{ cod: "25345", nombre: "CAMARA DAHUA DOMO 5MP MOTORIZADA", cantidad: "15", valor: "221000" },
{ cod: "25346", nombre: "XVR 4CH/2CH", cantidad: "15", valor: "294000" },
{ cod: "25346", nombre: "Disco duro 1TB", cantidad: "15", valor: "293000" }
];
pintarProd(products)
// Función para pintar productos en el buscador
function pintarProd(prods){
    var length= prods.length;
   
    for(let i=0; i< length; i++){
      var listop=document.getElementById("box-search")
      var buscar_btn=document.getElementById("input_buscar")
    var li_options1= document.createElement("li");
    var a_options1= document.createElement("a");
  ////llenando li de busqueda
    a_options1.innerHTML=prods[i].nombre;
    li_options1.appendChild(a_options1)
    listop.appendChild(li_options1)
  
   
      
    }
  }



  var inputfind=document.querySelector("#input_buscar");
  var box_serach=document.querySelector("#box-search");

  function buscador_interno(){
  var filtro=inputfind.value.toUpperCase();
  
    var li= box_serach.getElementsByTagName("li");

    for (let i = 0; i < li.length; i++) {
      var a=li[i].getElementsByTagName("a")[0];
      textvalue=a.textContent || a.innerText;
      
     if(textvalue.toUpperCase().indexOf(filtro)>-1){
       li[i].style.display=""
       a.onclick=function(){
       
        inputfind.value=li[i].innerText;
        box_serach.style.display="none"
        addProductToTable(i);
        inputfind.value=""

       }
      box_serach.style.display="block"

      if(filtro===""){
        box_serach.style.display="none"
      }
     }else{
      li[i].style.display="none"
     }
      
    }
  }

  inputfind.addEventListener("keyup", buscador_interno) ;


// Función para seleccionar un producto y agregarlo a la tabla
function selectProduct(product) {
addProductToTable(product);
document.getElementById("input_buscar").value = "";
document.getElementById("box-search").style.display = "none";
}

// Función para agregar el producto seleccionado a la tabla
function addProductToTable(pos,itemExtra,cant,val) {
const tbody = document.getElementById("body_datesProd");
const tr = document.createElement("tr");

if(itemExtra){
    tr.innerHTML = `
    <td>${"00"}</td>
    <td>${itemExtra || product.nombre}</td>
    <td contenteditable="true" class="td-cant">${cant}</td>
    <td>${(parseFloat(val) / 1000).toFixed(3)}</td>
    <td class="td-total">${(parseFloat(val) * cant / 1000).toFixed(3)}</td>
    <td><a href="#" style="color: red;" onclick="removeProduct(this)">X</a></td>
`;
tbody.appendChild(tr);
updateTotal();
const tdCant = tr.querySelector(".td-cant");
const tdTotal = tr.querySelector(".td-total");
tdCant.addEventListener("keyup", function(){

   
    let nuevaCantidad = parseFloat(this.innerText);
    if (isNaN(nuevaCantidad) || nuevaCantidad < 0) nuevaCantidad = 0;
    const nuevoTotal = ((val * nuevaCantidad) / 1000).toFixed(3);
    tdTotal.innerText = nuevoTotal;
    updateTotal();
})
}else{
    
    tr.innerHTML = `
    <td>${products[pos].cod}</td>
    <td>${products[pos].nombre}</td>
    <td class="td-cant"contenteditable="true" >${1}</td>
    <td>${(parseFloat(products[pos].valor) / 1000).toFixed(3)}</td>
   <td class="td-total">
  ${formatearValorLatino(parseFloat(products[pos].valor) * 1 / 1000)}
</td>
    <td><a href="#" style="color: red;" onclick="removeProduct(this)">X</a></td>
`;
tbody.appendChild(tr);
updateTotal();


const tdCant = tr.querySelector(".td-cant");
const tdTotal = tr.querySelector(".td-total");
var valorUnitario=parseFloat(products[pos].valor)
tdCant.addEventListener("keyup", function(){

   
    let nuevaCantidad = parseFloat(this.innerText);
    if (isNaN(nuevaCantidad) || nuevaCantidad < 0) nuevaCantidad = 0;
    const nuevoTotal = ((valorUnitario * nuevaCantidad) / 1000).toFixed(3);
    tdTotal.innerText = nuevoTotal;
    updateTotal();
})
}

}


//formateo totales
function formatearValorLatino(num) {
   return num
        .toFixed(3)                 // Ej: 1000000.123
        .replace(".", ".")          // Cambiar el separador decimal
        .replace(/\B(?=(\d{3})+(?!\d))/g, "."); // Agregar puntos cada 3 cifras
}



// Función para eliminar un producto de la tabla
function removeProduct(link) {
const row = link.closest("tr");
row.remove();
updateTotal();
}

// Función para actualizar el total de la cotización
function updateTotal() {
    const rows = document.querySelectorAll("#body_datesProd tr");
    let total = 0;

    rows.forEach(row => {
        const cell = row.cells[4];
        if (cell) {
            const val = parseFloat(cell.innerText.replace(/[^0-9.-]+/g, ""));
            if (!isNaN(val)) {
                total += val;
            }
        }
    });

    // Formatear con puntos y coma al estilo latino
    const formattedTotal = total
        .toFixed(3)                 // Ej: 1000000.123
        .replace(".", ".")          // Cambiar el separador decimal
        .replace(/\B(?=(\d{3})+(?!\d))/g, "."); // Agregar puntos cada 3 cifras

    document.getElementById("th_total").innerText = formattedTotal;
}


// Evento para agregar productos personalizados
document.getElementById("add_extra").addEventListener("click", () => {
const item = document.getElementById("item_extra").value;
const cantidad = document.getElementById("cant_item_extra").value;
const valor = document.getElementById("val_item_extra").value;
addProductToTable({}, item, cantidad, valor);

 document.getElementById("item_extra").value="" ;document.getElementById("cant_item_extra").value="";document.getElementById("val_item_extra").value=""
});













// Generar PDF al hacer clic en el botón "Visualizar"


function submitForm() {
   const select = document.getElementById("tipoDoc");
  const valorSeleccionado = select.value;
    var table = document.getElementById('prod_cot');
    var data = [];
    var dataTot = [];
    var notaUser=document.getElementById("notaUser")
       var cont=notaUser.value
       
    for (var i = 1; i < table.rows.length; i++) {
        var row = table.rows[i];
    
        // Asegúrate de que hay al menos 5 celdas
        if (row.cells.length < 5) {
           console.warn(row.cells[1].innerText.trim());
           var rowDataTot = {total:row.cells[1].innerText.trim()}
           dataTot.push(rowDataTot);
           dataTot.push(cont);
            continue; // Saltar esta fila
        }
    
        var rowData = {
            cod: row.cells[0].innerText.trim(),
            name: row.cells[1].innerText.trim(),
            cant: row.cells[2].innerText.trim(),
            val_unit: row.cells[3].innerText.trim(),
            val_tot: row.cells[4].innerText.trim()
        };
    
        data.push(rowData);
 
       
    }
    
        
    
    
    
    

    // Convert data to JSON
   /* var jsonData = JSON.stringify(data);

    // Create a hidden input field to hold the JSON data
    var hiddenInput = document.createElement('input');
    hiddenInput.type = 'hidden';
    hiddenInput.name = 'jsonData';
    hiddenInput.value = jsonData;

    // Append the hidden input to the form
    document.getElementById('cotizar_form').appendChild(hiddenInput);

    // Submit the form
    document.getElementById('cotizar_form').submit();*/
//////plantilla cotizacion
var fondo=document.createElement("img")
fondo.id="fondo";
//fondo.setAttribute("src","img/lognexo1.png")
var name_cot= document.querySelector("#name_cot")
var doc_user_cot= document.querySelector("#doc_user_cot")
var cel_user_cot= document.querySelector("#cel_user_cot")
var address_user_cot= document.querySelector("#aderess_user_cot")



var plantilla= document.createElement("div")
plantilla.id="plantilla";
    plantilla.style="height: 100%;"

var date= new Date();
date.toLocaleString('default', { month: 'long' })
var header= document.createElement("div")
header.id="header_plantilla"
plantilla.style.width="100%;  "


var info_empresa= document.createElement("div");
info_empresa.id="div_info_empresa"
var p_info_empresa= document.createElement("p")
p_info_empresa.innerHTML="San Juan Electronics <br> NIT.1144143439-7 REG. SIMP.<br>TRANSVERSAL 9 # 57N - 202<br>VIA AL BOSQUE <br>Tel.: 3022456227 - 3006549863 "
var data_trans= document.createElement("div")
data_trans.id="div_data_trans"
var transaccion= document.createElement("p")
var fecha_transac= document.createElement("p")
var numero_transac= document.createElement("p")
transaccion.innerHTML=valorSeleccionado

const anio = date.getFullYear();
const dia = String(date.getDate()).padStart(2, '0');
const mes = String(date.getMonth() + 1).padStart(2, '0');
const hora = String(date.getHours()).padStart(2, '0');
const minuto = String(date.getMinutes()).padStart(2, '0');

// Prefijo según tipo de documento
const prefijo = valorSeleccionado === "cuenta_cobro" ? "V" : "C";
var numeroTransac=`${prefijo} ${anio}${dia}${mes}${hora}${minuto}`
// Generar número de transacción
numero_transac.innerHTML = `${prefijo} ${anio}${dia}${mes}${hora}${minuto}`;

var hoy= date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()
fecha_transac.innerHTML=hoy

data_trans.appendChild(transaccion);
data_trans.appendChild(numero_transac)
data_trans.appendChild(fecha_transac)
info_empresa.appendChild(p_info_empresa)





var logo=document.createElement("img")
logo.style=" width:90px; height:70px;  position:relative; top:0;"
logo.setAttribute("src","img/logo_sanjuan.png")

var infoUser= document.createElement("div");
infoUser.id="infoUser_plant"
var nameUser= document.createElement("p");
nameUser.innerHTML="<b>Nombre:</b>"+" "+name_cot.value;
var numberUser= document.createElement("p");
numberUser.innerHTML="<b>Telefono:</b>"+"  " + cel_user_cot.value;
var docUser= document.createElement("p");
docUser.innerHTML="<b>Documento:</b>"+" "  +doc_user_cot.value
var addressUser= document.createElement("p");
addressUser.innerHTML="<b>Direccion:</b>"+"  "+ address_user_cot.value
infoUser.appendChild(nameUser)
infoUser.appendChild(docUser)
infoUser.appendChild(numberUser)
infoUser.appendChild(addressUser)



var div_table= document.createElement("div");
div_table.id="div_table_plant"
var table= document.createElement("table");
var thead= document.createElement("thead");
var tfoot= document.createElement("tfoot");

var trfoot= document.createElement("tr");
var th_foot= document.createElement("th");
var th_foot1= document.createElement("th");
var th_foot2= document.createElement("th");
var th_foot3= document.createElement("th");
th_foot.innerHTML="Total:"
var th_footVal= document.createElement("th");
th_footVal.innerHTML="$"+dataTot[0].total;
trfoot.appendChild(th_foot1)
trfoot.appendChild(th_foot2)
trfoot.appendChild(th_foot3)
trfoot.appendChild(th_foot)
trfoot.appendChild(th_footVal)
tfoot.appendChild(trfoot)
var tr= document.createElement("tr");
var th_cod= document.createElement("th");
th_cod.innerHTML="Cod"
var th_name= document.createElement("th");
th_name.innerHTML="Item"
var th_cant= document.createElement("th");
th_cant.innerHTML="Cantidad"
var th_vUnit= document.createElement("th");
th_vUnit.innerHTML="Valor/Unit"
var th_vTot= document.createElement("th");
th_vTot.innerHTML="Valor/Tot"

tr.appendChild(th_cod)
tr.appendChild(th_name)
tr.appendChild(th_cant)
tr.appendChild(th_vUnit)
tr.appendChild(th_vTot)
thead.appendChild(tr)
table.appendChild(thead)
table.appendChild(tfoot)

var tbody= document.createElement("tbody");
var trBody= document.createElement("tr");

   



data.forEach(data => {


  const $tr = document.createElement("tr");
  let $tdCod = document.createElement("td");
    $tdCod.textContent = data.cod; // el textContent del td es el nombre
    $tr.appendChild($tdCod);

  
    let $tdNombre = document.createElement("td");
    $tdNombre.textContent = data.name; // el textContent del td es el nombre
    $tr.appendChild($tdNombre);

    let $tdCant = document.createElement("td");
    $tdCant.textContent = data.cant; // el textContent del td es el nombre
    $tr.appendChild($tdCant);
    let $tdValorUnit = document.createElement("td");
    $tdValorUnit.textContent = data.val_unit; // el textContent del td es el nombre
    $tr.appendChild($tdValorUnit);

    let $tdValorTot = document.createElement("td");
    
    $tdValorTot.textContent = data.val_tot; // el textContent del td es el nombre
    $tdValorTot.style="font-weight: bolder;"
    $tr.appendChild($tdValorTot);

    tbody.appendChild($tr)
})
    

   
   

table.appendChild(tbody)
div_table.appendChild(table)
var nota1=document.createElement("p")
if (dataTot[1] && dataTot[1].trim() !== "") {
  // Tiene contenido útil
  nota1.id="notaPDF"
nota1.style="z-index:999; position:absolute; font-size:11px;"
nota1.innerHTML= "<b>nota:</b>"+" "+dataTot[1]
} 



       
var footer=document.createElement("div")
footer.id="footer_plant"
var Pfooter=document.createElement("p")
Pfooter.innerHTML=" <br>TRANSVERSAL 9 # 57N – 202 VIA EL BOSQUE <br>Tel: 3022456227 - 3006549863   <br>nsanjuanelectronics@gmail.com <br> Popayán - Colombia"
footer.appendChild(Pfooter)
header.appendChild(logo)
plantilla.appendChild(fondo)
header.appendChild(info_empresa)
header.appendChild(data_trans)
plantilla.appendChild(header)
plantilla.appendChild(infoUser)
plantilla.appendChild(div_table)
plantilla.appendChild(nota1)
plantilla.appendChild(footer)
const dataUser = {
  nombre: name_cot.value,
  id: doc_user_cot.value,
  tel: cel_user_cot.value,
  addres: address_user_cot.value
};

saveDatabase(data,dataUser,numeroTransac, valorSeleccionado)

return plantilla
}


function saveDatabase(dataProd,datauser,ntransac, tipo ){
var transac={
    numero:ntransac,
    tipo:tipo
}

var dataSave=[]
dataSave.push(datauser)
dataSave.push(transac)
dataSave.push(dataProd)



//console.log(dataSave)
fetch("/api/enviar-datos", {
  method: "POST",
  headers: {
    "Content-Type": "application/json"
  },
  body: JSON.stringify( dataSave) // 🔄 Enviar directamente el objeto si es solo uno
})
.then(res => res.json())
.then(data => {
  console.log("✅ Respuesta del servidor:");
})
.catch(err => {
  console.error("❌ Error al enviar datos:", err);
});


///////////////////////////


}

function getDatabase(){

  var name_search=document.getElementById("name_search")
  if (name_search.value.trim() === "") {
    name_search.style="background-color: rgba(208, 15, 15, 0.478);"
    name_search.setAttribute("placeholder","ingrese nombre por favor")
  }else{
      name_search.style="background-color: white"
      name_search.setAttribute("placeholder","  ")
      fetch("/api/buscar-datos", {
  method: "POST",
  headers: {
    "Content-Type": "application/json"
  },
  body: JSON.stringify({mensaje:name_search.value}) // 🔄 Enviar directamente el objeto si es solo uno
})
.then(res => res.json())
.then(data => {
  pintar_transacciones(data)
})
.catch(err => {
 // console.error("❌ Error al enviar datos:", err);
  name_search.style="background-color: rgba(208, 15, 15, 0.478);"
  name_search.value=""
    name_search.setAttribute("placeholder","Datos invalidos")
});

  }
  
  
}

var imprimir=document.getElementById("imprimir");
imprimir.onclick=function(){
    imprimirModal(submitForm())

}

//////////////////////////////////////////
 function pintar_transacciones(data){
 const modal = document.querySelector("#modal");

 

 var viewer_transactions= document.getElementById("viewer_transactions")
 viewer_transactions.innerHTML=""
 var total=0
var cont=0

let array= data.resultado1.documents;
  for (let i = 0; i < array.length; i++) {

 var transaction_item= document.createElement("div");
 transaction_item.classList="transaction_item"
  var transaction_type= document.createElement("a");
  transaction_type.classList="transaction_type"
var transaction_number= document.createElement("a");
 transaction_number.classList="transaction_number"
 
var transaction_catn= document.createElement("a");
transaction_catn.classList="transaction_catn"
var transaction_total= document.createElement("a");
transaction_total.classList="transaction_total"
transaction_type.innerHTML=array[i].tipo
transaction_number.innerHTML=array[i].numero
   const tbody = document.getElementById("body_datesProd");


transaction_item.appendChild(transaction_type)
transaction_item.appendChild(transaction_number)



 transaction_number.onclick=function(){
  body_datesProd.innerHTML=""
   for (let a = 0; a < array[i].products.length; a++) {
    const tr = document.createElement("tr");
    console.log(array[i].products)
  tr.innerHTML = `
    <td>${array[i].products[a].cod}</td>
    <td>${array[i].products[a].name}</td>
    <td class="td-cant"contenteditable="true" >${array[i].products[a].cant}</td>
    <td>${(parseFloat(array[i].products[a].val_unit) / 1000).toFixed(3)}</td>
   <td class="td-total">
  ${formatearValorLatino(parseFloat(array[i].products[a].val_tot))}
</td>
    <td><a href="#" style="color: red;" onclick="removeProduct(this)">X</a></td>
`;

tbody.appendChild(tr);

updateTotal();

   const tdCant = tr.querySelector(".td-cant");
const tdTotal = tr.querySelector(".td-total");
var valorUnitario=parseFloat(array[i].products[a].val_unit)
tdCant.addEventListener("keyup", function(){

   
    let nuevaCantidad = parseFloat(this.innerText);
    if (isNaN(nuevaCantidad) || nuevaCantidad < 0) nuevaCantidad = 0;
    const nuevoTotal = ((valorUnitario * nuevaCantidad) / 1000).toFixed(3);
    tdTotal.innerText = nuevoTotal;
    updateTotal();
})

   }
  
}
 for (let a = 0; a < array[i].products.length; a++) {

//////////////////////////////////////////////////////////////////////////////////

cont=cont+1
var valor=parseFloat(array[i].products[a].val_tot)
  total=total+valor
  //console.log(valor.toFixed(3))
  if(a== array[i].products.length-1){
transaction_catn.innerHTML=array[i].products.length;
transaction_total.innerHTML="$"+(total).toFixed(3);
transaction_item.appendChild(transaction_catn)
transaction_item.appendChild(transaction_total)
  //console.log("primera tanda"+(total).toFixed(3))
  }


  
   



 }
 viewer_transactions.appendChild(transaction_item)

  }

 







 }


 

function imprimirModal(elemento) {
  const modal = document.querySelector("#modal");
  const contenidoModal = modal.innerHTML;

  // Crear un iframe oculto
  const iframe = document.createElement("iframe");
  iframe.style.position = "fixed";
  iframe.style.right = "0";
  iframe.style.bottom = "0";
  iframe.style.width = "0";
  iframe.style.height = "0";
  iframe.style.border = "none";
  document.body.appendChild(iframe);

  const doc = iframe.contentWindow.document;

  // Escribir el contenido del modal en el iframe
  doc.open();
  doc.write(`
    <html>
      <head>
         <link rel="stylesheet" href="styless/styless.css">
        <title>Impresión</title>
        <style>
          body {
            font-family: Arial, sans-serif;
            padding: 20px;
          }
        </style>
      </head>
      <body>
        ${elemento.innerHTML}
      </body>
    </html>
  `);
  doc.close();

  // Esperar que cargue y luego imprimir
  iframe.onload = function () {
    iframe.contentWindow.focus();
    iframe.contentWindow.print();

    // Eliminar el iframe después de imprimir
    setTimeout(() => document.body.removeChild(iframe), 1000);
  };
}



  




function generarPFD(elemento,selected,name){
    var contenidoOriginal= document.body.innerHTML;
   
    var modal= document.getElementById("modal")
    var plantilla1=document.createElement("div")
    
    plantilla1.appendChild(elemento)
    modal.appendChild(plantilla1)
  
    modal.showModal()
  console.log("ww")
    var cerrar_modal= document.querySelector("#cerrar_modal")
  cerrar_modal.onclick=function(){
    var modal= document.querySelector("#modal")
    modal.close()
    plantilla1.remove()
    
    }
  
  
  
    
    document.querySelector("#pdf_modal").onclick = function () {
        

      // Asegurar que el modal esté completamente visible antes de capturar
      setTimeout(() => {
          html2canvas(modal, {
              scale: 3, // Mayor calidad de imagen
              useCORS: true, // Para capturar imágenes externas
              logging: true, // Para ver errores en la consola
              backgroundColor: "#ffffff" // Evitar fondo transparente
          }).then(canvas => {
              const imgData = canvas.toDataURL("image/png");
  
              // Definir tamaño de PDF basado en el tamaño del canvas
              const pdfWidth = 210; // A4 ancho en mm
              const pdfHeight = (canvas.height * pdfWidth) / canvas.width;
  
              const doc = new jsPDF('p', 'mm', [pdfWidth, pdfHeight]); // Ajusta el tamaño dinámicamente
              doc.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
              doc.save( selected+'_'+name+'.pdf');
          }).catch(error => {
              console.error("Error generando PDF:", error);
          });
      }, 1000); // Aumentar el delay si el modal tarda en renderizarse
  };

  


}  

document.getElementById("pdf").addEventListener("click", () => {
    var name_cot=document.querySelector("#name_cot").value

console.log(name_cot)
    const select = document.getElementById("tipoDoc");
  const valorSeleccionado = select.value;
 // document.getElementById("resultado").textContent = "Seleccionaste: " + valorSeleccionado;
    generarPFD(submitForm(),valorSeleccionado,name_cot)
});

</script>
<style>
.buscador{
            width: 80%;
            justify-content: center;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
           height: fit-content;
           padding: 15px;
            
          }
          .buscador h3{

            font-size: 13px;
          }
    #info_user{
          width: 80%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: auto;
          position: relative;
          justify-content: center;
         gap: 5px;
         border: 1px solid rgb(137, 136, 136);
         padding: 15px;
         
        }
        #info_user div{
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 11px;

        }
    /* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    height: fit-content;
}

#extra_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid rgb(83, 82, 82);
    border-radius: 10px;
    height: 50px;
    align-items: center;
    padding: 5px;
    font-size:11px;

}

button {
    height: 30px;
     border: 1px solid rgb(238, 233, 233);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

#prod_cot {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#prod_cot th, #prod_cot td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#th_total {
    font-weight: bold;
    font-size: 1.2em;
}

/* Modal styles */
#modal {
    
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#cerrar_modal {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#notaPDF{
    z-index:999;
    position:relative;
}

</style>