<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styless/styless.css">
    <title>Chats SanJuan Electronics</title>
    <script src="./socket.io/socket.io.js"></script>
    <script src="https://apiwhatsap2-33uh-dev.fl0.io/socket.io/socket.io.js"></script>
   
</head>
<body>
  <div id="div_notific">

    <p id="txt_div_notific">mensaje enviado</p>
</div>
  <h1>Chats SanJuan Electronics</h1>
  <div class="container">     
    
<div  id="viewMessages">
  <div id="lateral_view"></div>
  

  <div id="viewchat">
    <div id="chatUser">
      
    </div>
    <div id="responder">
      <input type="text" id="input_rta">
      <button id="send_rta">Enviar</button>
    </div>
  </div>

</div>
<div id="sms_user">
  <div id="sms_input">
    <input id="number_to_send" type="text" placeholder="ingrese numero">
    <textarea name="text_sms" id="" cols="30" rows="10"></textarea>
  </div>
  

  <div id="sms_buttons">
    <button id="send_messagePaV"> plataforma a vencer</button>
    <button id="send_messagePv">plataforma vencida</button>
    <button id="send_messagePlV">plan claro a vencer</button>
  </div>
 
</div>  
</div>



   
      <script src="index.js"></script>
</body>
</html>
