<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./socket.io/socket.io.js"></script>
    <script src="https://api1whatsap-3l6m-dev.fl0.io/socket.io/socket.io.js"></script>
   
</head>
<body>
  <div>
    <h2>mensajes</h2>
    <a href=""></a>
  </div>

    <script>
      const socket = io.connect("https://api1whatsap-3l6m-dev.fl0.io");
        
    
       
        socket.on('whatsapp_notification', (data) => {
            console.log('Notificación de WhatsApp:', data);
            // Aquí puedes manejar los datos recibidos en tiempo real
        });
    
       
      </script>
</body>
</html>