<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styless/styless.css">
    <title>Chats SanJuan Electronics</title>
    <script src="./socket.io/socket.io.js"></script>
    <script src="https://apiwhatsap2-33uh-dev.fl0.io/socket.io/socket.io.js"></script>
   
</head>
<body>
  <div id="div_notific">

    <p id="txt_div_notific">mensaje enviado</p>
</div>
  <h1>Chats SanJuan Electronics</h1>
  <div class="container">

    <input id="number_to_send" type="text" placeholder="ingrese numero">

    

    <button id="send_message">enviar mensaje</button>
      
    
<div  id="viewMessages">
  <div id="lateral_view"></div>
  

  <div id="viewchat">
    <div id="chatUser">
      
    </div>
    <div id="responder">
      <input type="text" id="input_rta">
      <button id="send_rta">Enviar</button>
    </div>
  </div>

</div>
        
    </div>



   
      <script src="index.js"></script>
</body>
</html>
