<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./socket.io/socket.io.js"></script>
    <script src="https://apiwhatsap2-33uh-dev.fl0.io/socket.io/socket.io.js"></script>
   
</head>
<body>
  <div class="container">

    <div>
      <input id="number_to_send" type="text" placeholder="ingrese numero">

      <button id="send_message">enviar mensaje</button>
      
    <script>

        var button_send= document.querySelector("#send_message");
        var input_number= document.querySelector("#number_to_send");
        button_send.onclick=function(){

          let number= input_number.value;
          var nequi="3006549863";
           var cta_ahorro= "03157527681"
          var  data1= {
  "messaging_product": "whatsapp",
  "recipient_type": "individual",
  to: "57"+number,
  "type": "template",
  "template": {
    "name": "vencimiento",
    "language": {
      "code": "es_MX"},
      "components": [
        {
          "type": "body",
          "parameters": [
            {
              "type": "text",
              "text": cta_ahorro
            },
            {
              "type": "text",
              "text": nequi
            },
          
          ]
        }
      ]
}
}
          var  data= {
      "messaging_product": "whatsapp",
      "recipient_type": "individual",
      "to": number,
      "type": "interactive",
      "interactive": {
        "type": "button",
        "header": {  
          "type": "text",
          "text": "San Juan"},
        "body": {
          "text": "SecuriBot🤖 dice :  \nHola!.   San Juan Electronics le informa que su plataforma GPS se encuentra vencida, lo invitamos a hacer la renovacion para que pueda continuar con normalidad en su servicio"+
          " \n \n Nuestros medios de pago son:"+
          "\nAhorro a la mano:"+cta_ahorro +"✅"+
          "\nNEQUI: "+nequi+"✅"+
          "\n O puede acercarse a nuestra oficina y realizar el proceso de renovacion, estamor ubicados en la transversal 9 #57n-202 via al bosque."

          
        },
        footer: {
          text: "scaliwoodSoft"},
        "action": {
          "buttons": [
            {
              "type": "reply",
              "reply": {
                "id": "renovar_plataforma",
                "title": "RENOVAR PLATAFORMA"
              }
            },
           
          ]
        }
      }
    
  }
        
        send_whatsapp(data)
       
        }
          function send_whatsapp(data){

          
  var botId = '122100131648008841';
// var phoneNbr = '573026055289';
  var bearerToken = 'EABpkYoLqZBZCYBO830lX7JudRZBUZArnQvXgYFWBBYzEXruZAoDDFOJKjoba5hA8CeWjh4ngXOOfow8c2jqvFTmv1KV3Vfogj8tJWbpf1LuZCzh8EBSRqhXIGGRGBJdYLorQLRnjjtFhhuwpk4HJOHtRSyIbSldyraqsyh7fhXOloMrlo30wVSzZC75N28XEkCZA';
  
  var url = 'https://graph.facebook.com/v17.0/' + botId + '/messages';


      
  var postReq = {
    method: 'POST',
    headers: {
      'Authorization': 'Bearer ' + bearerToken,
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data),
    json: true
  };
  
  fetch(url, postReq)
    .then(data => {
      return data.json()
    })
    .then(res => {
      console.log(res)
    })
    .catch(error => console.log(error));
  }
        
    </script>

        <div  id="viewMessages">
            <p id="message"></p>

        </div>
        <style>
            #viewMessages{

                width: 50%;
                height: 290px;
                background: rgba(0, 200, 255, 0.518);
            }
            .mesaggeUser{
              width: 50%;
              height: 100px;
              background: yellow;
              overflow: hidden;
            }
            .mesaggeUser:hover{
              height: 150px;
              transition: .5s ease-in-out;

            }

        </style>
    </div>

</div>

    <script>
      const socket = io();
        
    var mensajeview=document.querySelector("#viewMessages")

        socket.on('whatsapp_notification', (from, message) => {
          var mensajeview=document.querySelector("#viewMessages")

           let mesagesUser=document.createElement('div');
            let mesagesview=document.createElement('p');
            mesagesUser.className="mesaggeUser"
            mesagesUser.id="mesaggeUser"+from;
           
            mesagesview.id=from
            mesagesview.innerHTML="Mensaje de:"+from+" "+"dice:"+" "+message;
            let divUser=document.querySelector("#mesaggeUser"+from)
            if(divUser){


              divUser.appendChild(mesagesview)
              
            }else{
              mesagesUser.appendChild(mesagesview)
              mensajeview.appendChild(mesagesUser)
            }
             
           
        });
    
       
      </script>
</body>
</html>