<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styless/styless.css">
    <title>Chats SanJuan Electronics</title>
    <script src="./socket.io/socket.io.js"></script>
    <script src="https://apiwhatsap2-33uh-dev.fl0.io/socket.io/socket.io.js"></script>
   
</head>
<body>
  <div id="div_notific">

    <p id="txt_div_notific">mensaje enviado</p>
</div>
  <h1>Chats SanJuan Electronics</h1>
  <div class="container">

    <input id="number_to_send" type="text" placeholder="ingrese numero">

    

    <button id="send_message">enviar mensaje</button>
      
      
    <script>
      const title ="Chat San Juan"
        var button_send= document.querySelector("#send_message");
        var input_number= document.querySelector("#number_to_send");
       // var textarea=document.querySelector("#mensajegps");
        button_send.onclick=function(){
         // let mensaje= textarea.value;
              let number= input_number.value;
              var nequi="3006549863";
              var cta_ahorro= "03157527681"
            
              var  data= {
                "messaging_product": "whatsapp",
            "recipient_type": "individual",
            "to": number,
            "type": "template",
            "template": {
              "name": "plataforma",
              "language": {
                "code": "es_MX"
              },
              "components": [
                {
                  "type": "button",
                  "sub_type" : "url",
                  "index": "2",
                  "parameters": [
                      {                    
                          "type": "text",
                    
                      "text": "https://sanjuanelectronics.online/"
            }
        ]
      }
    ]
  
      }
 
}
        
        send_whatsapp(data)

        input_number.value="";
       
        }
          function send_whatsapp(data){

          
  var botId = '122100131648008841';
// var phoneNbr = '573026055289';
  var bearerToken = 'EABpkYoLqZBZCYBO830lX7JudRZBUZArnQvXgYFWBBYzEXruZAoDDFOJKjoba5hA8CeWjh4ngXOOfow8c2jqvFTmv1KV3Vfogj8tJWbpf1LuZCzh8EBSRqhXIGGRGBJdYLorQLRnjjtFhhuwpk4HJOHtRSyIbSldyraqsyh7fhXOloMrlo30wVSzZC75N28XEkCZA';
  
  var url = 'https://graph.facebook.com/v17.0/' + botId + '/messages';


      
  var postReq = {
    method: 'POST',
    headers: {
      'Authorization': 'Bearer ' + bearerToken,
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data),
    json: true
  };
  
  fetch(url, postReq)
    .then(data => {
      return data.json()
    })
    .then(res => {
      console.log(res)
    })
    .catch(error => alert(error));
  }
        
    
    
    
    
    
    
    
    
    </script>

<div  id="viewMessages">
  <div id="lateral_view"></div>
  

  <div id="viewchat">
    <div id="chatUser">
      
    </div>
    <div id="responder">
      <input type="text" id="input_rta">
      <button id="send_rta">Enviar</button>
    </div>
  </div>

</div>
        <style>
          

        </style>
    </div>



   
      <script src="index.js"></script>
</body>
</html>
